<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GroStore | Groccery Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <% if( messages.success ){ %>
        <div class="alert alert-success alert-dismissible fade show m-0 py-2" role="alert">
            <strong>
                <%= messages.success %>
            </strong>
            <button type="button" class="btn-close py-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

    <% if( messages.error ){ %>
        <div class="alert alert-warning alert-dismissible fade show m-0 py-2" role="alert">
            <strong>Error!</strong>
            <%= messages.error %>
                <button type="button" class="btn-close py-2" data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
        <% } %>

        <section class="admin">
            <div class="container">


                <h1>Welcome to dashboard</h1>

                <form action="/admin/items/add" method="post">
                    <h3>Add a new product for customers</h3>
                    <div class="mb-3">
                        <label for="product" class="form-label">Product</label>
                        <input type="text" class="form-control" id="product" name="product"
                            placeholder="Enter prodcut name ..." required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Product description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"
                            placeholder="write down about product..." required></textarea>
                    </div>
                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col">
                                <input type="number" class="form-control" name="fakeprice"
                                    placeholder="Fakeprice" aria-label="First name" required>
                            </div>
                            <div class="col">
                                <input type="number" class="form-control" name="realprice"
                                    placeholder="Realprice" aria-label="Last name" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Add item</button>

                </form>

                <div class="table-responsive my-3">
                    <table class="table caption-top table-hover table-bordered">
                        <caption>List of your favourite products</caption>

                        <thead>
                            <tr>
                                <th scope="col">S.No.</th>
                                <th scope="col">Product</th>
                                <th scope="col">Description</th>
                                <th scope="col">Fake price</th>
                                <th scope="col">Real Price</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Remove </th>
                            </tr>
                        </thead>

                        <% items.forEach( ( item ,index)=>{ %>
                            <!-- item is a object inside cartSchema(item + quantity + uniqueId) , and second item is the Item schema item -->

                            <tbody class="table-group-divider">
                                <tr>
                                    <th scope="row">
                                        <%= index+1 %>
                                    </th>
                                    <td contenteditable="true">
                                        <%= item.product %>
                                    </td>
                                    <td>
                                        <%= item.description %>
                                    </td>
                                    <td>
                                        <%= item.fakeprice %>
                                    </td>
                                    <td>
                                        <%= item.realprice %>
                                    </td>
                                    <td>
                                        <a href="/admin/items/edit/<%= item.id %>/" class="btn text-success">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                              </svg>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/admin/items/delete/<%= item.id %>/" class="btn text-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                fill="currentColor" class="bi bi-trash3"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                            <% }) %>

                    </table>
                </div>

            </div>
        </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>