<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GroStore | Groccery Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <section class="admin">
        <div class="container">

            <h1>Welcome to admin edit panel</h1>

            <form action="/admin/items/edit/<%= item.id %>" method="post">
                <h3>Add a new product for customers</h3>
                <div class="mb-3">
                    <label for="product" class="form-label">Product</label>
                    <input type="text" class="form-control" id="product" name="product"
                        value="<%= item.product %>" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Product description</label>
                    <textarea class="form-control" id="description" name="description" rows="3"
                    required><%= item.description %></textarea>
                </div>
                <div class="mb-3">
                    <div class="row g-3">
                        <div class="col">
                            <input type="number" class="form-control" name="fakeprice" value="<%= item.fakeprice %>"
                                aria-label="First name" required>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" name="realprice" value="<%= item.realprice %>"
                                aria-label="Last name" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Edit</button>

            </form>


        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>